.swiggy-corporate-nav{
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inside-nav{
    display: flex;
    gap: 20px;
}
.inside-nav li{
    font-size: larger;
    font-weight: 500;
}
.inside-nav li:hover{
    color: orange;
    cursor: pointer;
}
.head-para{
    margin: 50px;
    text-align: center;
}
.head-para h2{
    font-size: xx-large;
    font-weight: 700;
}
.head-para p{
    font-size: large;
    color: grey;
    font-family: sans-serif;
}